h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    color:#333;
    line-height:1.5 !important;
}
body{
    font-family:"微软雅黑", "Microsoft YaHei", 'Helvetica Neue', Avenir, Helvetica, 'Lantinghei SC', "Hiragino Sans GB",  "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif !important;
    outline:none !important;
}
ol,ul{
    list-style:none;
}
a,input,button{
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
a,a:hover{
    color:#666;
}
header{
    height:50px;
    text-align:center;
    border-bottom:1px solid #ccc;
}
.function{
    display:block;
    float:left;
    width:100%;
    border-bottom:1px solid #ccc;
}
.function .nav{
    float:left;
}
.function .user{
    display:block;
    float:right;
    padding-right:15%;
}
.navigator{
    float:left;
}




.admin_login{
    width:40%;
    height:auto;
    margin:20% auto;
    box-shadow:2px 2px 3px #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.admin_login .input-group{
    margin-bottom:2%;
}
.admin_login .submit,.admin_login .forget{
    width:45%;
}

.userInfo{
    width:80%;
    margin:100px auto;
}
.userInfo .table{
    border:1px solid #ccc;
    font-size:16px;
}
.userInfo .table th{
    text-align:center;
    font-size:18px;
}

.modify{
    width:80%;
    margin:80px auto;
    font-size:16px;
}
.modify dl dd{
    display:block;
    margin:1%;
}
.modify dl dd>label{
    width:9%;
    min-width:100px;
}
.modify dl dd>input{
    width:50%;
    display:inline-block;
}
.modify .submit{
    display:block;
    margin:2% 0 0 28%;
    width:10%;
    min-width:100px;
}
.modify .radios{
    display:inline-block;
}
