h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    color:#333;
    line-height:1.5 !important;
}
body{
    font-family:"微软雅黑", "Microsoft YaHei", 'Helvetica Neue', Avenir, Helvetica, 'Lantinghei SC', "Hiragino Sans GB",  "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif !important;
    background-color:#eee;
    outline:none !important;
}
ol,ul{
    list-style:none;
}
a,a:hover{
    color:#666;
}
.navbar{
    margin-bottom:0;
}
.navbar .text-logo{
    color:#999;
    font-size:14px;
}
.navbar .image-logo{
    width:60px;
    height:40px;
    margin-top:-11px;
    background:#999;
    float:left;
}
.nav{
    float:right;
}



.nav .image img{
    display:block;
    max-width:100%;
    margin:0 auto;
}
.carousel-inner img{
    margin:0 auto;
}
.carousel .item{
    background:#222;
}
.carousel .itemTitle{
    color:#fff;
}

.alert{
    margin:2% 0;
}
.newsList{
    display:block;
    margin:2% 0;
    border:1px solid transparent;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#fafafa;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 3px #ccc;
    box-shadow: 2px 2px 3px #ccc;
    padding:0 5% 2% 5%;
}
.newsList .newsImg{
    max-width:100%;
    margin-bottom:1%;
}
.newsList .newsTitle{
    font-size:30px;
    padding-bottom:2%;
}
.newsList .newsSummary{
    display:block;
    background: lightgoldenrodyellow;
    padding:10px 15px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    line-height:1.5;
    margin:10px auto;
}
.newsList .lgroup{
    margin-bottom:2%;
}
.newsList .lgroup .label{
    font-size:13px;
    margin:0 5px;
}
.newsList .lgroup .btn{
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    outline:none;
}
.newsList .read{
    display:block;
    margin-left:87%;

}
.rightView .alert, .rightView .alert-info{
    padding:0;
    background:#fff;
    border:none;
}
.newestNews{
    margin:4% 0;
    box-shadow:2px 2px 3px #ccc;
}
.newestNews .badge{
    background:orangered;
}
.page{

}
.pagination{
    box-shadow:2px 2px 3px #ccc;
    margin-bottom:4%;
}
.rightView .comment img{
    width:40px;
    height:auto;
    background:#eee;
    margin:1% 0;
}
.rightView .comment .detail{
    background:#e2e2e2;
    display:inline-block;
    font-size:13px;
    width:80%;
    padding:2% 6%;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-left:3%;
}


#footer{
    height:250px;
    background:#333;
    color:#ccc;
}
#footer h3{
    color:#fff;
    border-bottom:1px dashed #eee;
    padding-bottom:2%;
}
#footer ul{
    margin:0;
    padding:0;
    display:block;
    font-size:16px;
}
#footer ul li{
    padding:2% 0 0 0;
}
#footer ul li a{
    color:#ccc;
}
#footer .contact{
    float:left;
}

#footer .right img{
    height:120px;
    width:auto;
    margin-bottom:10px;
}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){

}
@media (min-width:480px) and (max-width:767px){
    .nav{
        float:left;
    }
}
@media (max-width:479px){
    .nav{
        float:left;
    }
}